<a href="https://colab.research.google.com/github/ksnuKJY/BP_10_Ch6/blob/main/Untitled1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
for i in range(2, 101):                               #2부터 100사이
  if i%2==0 :                                         #i%2한 결과가 0이라면
    print(i,end = " ")                                #i값 출력

2 4 6 8 10 12 14 16 18 20 22 24 26 28 30 32 34 36 38 40 42 44 46 48 50 52 54 56 58 60 62 64 66 68 70 72 74 76 78 80 82 84 86 88 90 92 94 96 98 100

In [1]:
year = 0                                             #변수year은 0
balance = 1000                                       #변수balance는 1000

while balance <= 2000 :                              #balance가 2000이하인 동안
  year = year + 1                                    #year에 1추가
  interest = balance * 0.07                          
  balance = balance + interest                       #balance를 1.07배함
print(year, "년이 걸립니다.")                        #year출력

11 년이 걸립니다.

In [ ]:
n=1234                                               #변수n은 1234
sum=0                                                #변수sum은 0
while n > 0 :                                        #n이 0보다 큰 동안
  digit = n % 10                                     #digit에 n의 1의자리수 저장
  sum=sum+digit                                      #sum에 digit를 더함
  n=n//10                                            #n을 10으로 나눔
print(sum)                                           #sum출력

10

In [ ]:
ans=0                                               #변수ans는 0
while ans !=3*9:                                    #ans가 3*9가 아닌 동안
  ans=int(input("3*9는"))                           #ans값 입력
print("맞았습니다.")                                #맞았습니다. 출력

3*9는27
맞았습니다.

In [ ]:
sum=0                                               #변수 sum은 0
while True:
  x=int(input("정수를 입력하시오: "))               #x에 정수 입력
  if x == 0:                                        #만약 x가 0이라면
    break;                                          #while문 종료
  sum=sum+x                                         #sum에 x를 더함

print("합은",sum,"입니다.")                         #sum 출력

정수를 입력하시오: 25
정수를 입력하시오: 19
정수를 입력하시오: 38
정수를 입력하시오: 774
정수를 입력하시오: 0
합은 856 입니다.

In [ ]:
from random import randint                          #random라이브러리에 randint함수 불러옴

for i in range(3) :                                 #0에서 2까지
  d1=randint(1,6)                                   #d1에 1부터 6사이의 랜덤한 정수 대입
  d2=randint(1,6)                                   #d2에 1부터 6사이의 랜덤한 정수 대입
  print("첫번째 주사위=",d1,"두번째 주사위=",d2)    #d1,d2 출력

첫번째 주사위= 2 두번째 주사위= 6
첫번째 주사위= 4 두번째 주사위= 1
첫번째 주사위= 2 두번째 주사위= 4

In [ ]:
import turtle                                       #turtle함수를 불러옴

t=turtle.Turtle()                                   #t에 turtle함수 대입
t.shape("turtle")                                   #거북이로 모양 바꿈
t.lt(90)                                            #거북이가 90만큼 왼쪽으로 방향전환

for i in range(1,7) :                               #i는 1에서 6까지
  t.fd(100)                                         #거북이가 100만큼 전진
  t.fd(-30)                                         #거북이가 -30만큼 전진
  t.lt(60)                                          #거북이가 왼쪽으로 30도만큼 회전
  t.fd(30)                                          #거북이가 30만큼 전진
  t.fd(-30)                                         #거북이가 -30만큼 전진

  t.rt(120)                                         #거북이가 오른쪽으로 120도만큼 회전
  t.fd(30)                                          #거북이가 30만큼 전진
  t.fd(-30)                                         #거북이가 -30만큼 전진

  t.lt(60)                                          #거북이가 왼쪽으로 60도만큼 회전
  t.fd(-70)                                         #거북이가 -70만큼 전진
  t.lt(60)                                          #거북이가 왼쪽으로 60도만큼 회전

In [ ]:
import turtle                                       #turtle함수를 불러옴

myPen=turtle.Turtle()                               #myPen에 turtle함수 대입
myPen.speed(0)                                      #속도를 0으로 바꿈
myPen.color("#FF0000")                              #myPen의 색을 빨강으로 바꿈

for j in range (1,10):                              #j는 1에서 9까지
  for i in range (1,6):                             #i는 1에서 5까지
    myPen.lt(144)                                   #myPen이 왼쪽으로 144도만큼 회전
    myPen.fd(200)                                   #myPen이 200만큼 전진
  myPen.lt(10)                                      #myPen이 왼쪽으로 10도만큼 회전

In [ ]:
import turtle                                       #turtle함수를 불러옴
import random                                       #random함수를 불러옴

t=turtle.Turtle()                                   #t에 turtle함수 대입
t.shape("turtle")                                   #모양을 거북이로 바꿈

for j in range (1,10):                              #j는 1에서 9까지
  t.up()                                            #거북이가 지나가는 흔적 없애기
  x=random.randint(-200,200)                        #x에 -200에서 200사이의 정수 저장
  y=random.randint(-200,200)                        #y에 -200에서 200사이의 정수 저장
  r=random.randint(10,200)                          #r에 10에서 200사이의 정수 저장
  t.goto(x,y)                                       #거북이를 (x,y)로 이동
  t.down()                                          #거북이가 지나가는 흔적 다시 표시
  t.circle(r)                                       #반지름이 r인 원 그리기

In [ ]:
import turtle                                       #turtle함수를 불러옴

t=turtle.Turtle()                                   #t에 turtle함수 대입
t.shape("turtle")                                   #모양을 거북이로 바꿈

for i in range(5):                                  #i는 0에서 4까지
  t.fd(200);                                        #거북이가 200만큼 전진
  t.rt(90)                                          #거북이가 오른쪽으로 90도만큼 회전
  t.fd(20);                                         #거북이가 20만큼 전진
  t.rt(90)                                          #거북이가 오른쪽으로 90도만큼 회전
  t.fd(200);                                        #거북이가 200만큼 전진
  t.lt(90)                                          #거북이가 왼쪽으로 90도만큼 회전
  t.fd(20);                                         #거북이가 20만큼 전진
  t.lt(90)                                          #거북이가 왼쪽으로 90도만큼 회전

In [ ]:
import turtle                                       #turtle함수를 불러옴
t=turtle.Turtle()                                   #t에 turtle함수 대입
t.shape("turtle")                                   #모양을 거북이로 바꿈
t.color('red', 'yellow')                            #거북이 색을 빨강과 노랑으로 변경
t.begin_fill()                                      #도형안에 색칠하기위한 준비
while True:
  t.fd(200)                                         #거북이가 200만큼 전진
  t.lt(170)                                         #거북이가 왼쪽으로 170도만큼 회전
  if abs(t.pos()) < 1:                              #t의 위치가 1미만이라면
    break                                           #while문 종료
t.end_fill()                                        #색칠끝

In [ ]:
import turtle                                       #turtle함수를 불러옴
import math                                         #math함수를 불러옴

t=turtle.Turtle()                                   #t에 turtle함수 대입
t.shape("turtle")                                   #모양을 거북이로 바꿈
t.color('red', 'yellow')                            #거북이 색을 빨강과 노랑으로 변경

for x in range(0,360):                              #x는 0에서 359까지
  t.goto(x,200*math.sin(x*3.14/180))                #sin함수 그리기